/*
 * edu-sharing Repository REST API
 * The public restful API of the edu-sharing repository.
 *
 * OpenAPI spec version: 1.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ACL;
import io.swagger.client.model.ErrorResponse;
import java.io.File;
import io.swagger.client.model.NodeEntries;
import io.swagger.client.model.NodeEntry;
import io.swagger.client.model.NodeLocked;
import io.swagger.client.model.NodePermissionEntry;
import io.swagger.client.model.NodeRemote;
import io.swagger.client.model.NodeShare;
import io.swagger.client.model.NodeText;
import io.swagger.client.model.NodeVersionEntry;
import io.swagger.client.model.NodeVersionRefEntries;
import io.swagger.client.model.NotifyEntry;
import io.swagger.client.model.ParentEntries;
import io.swagger.client.model.SearchResult;
import io.swagger.client.model.WorkflowHistory;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NodeV1Api {
    private ApiClient apiClient;

    public NodeV1Api() {
        this(Configuration.getDefaultApiClient());
    }

    public NodeV1Api(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for addAspects
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body aspect name, e.g. ccm:lomreplication (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addAspectsCall(String repository, String node, List<String> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/aspects"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addAspectsValidateBeforeCall(String repository, String node, List<String> body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling addAspects(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling addAspects(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addAspects(Async)");
        }
        

        com.squareup.okhttp.Call call = addAspectsCall(repository, node, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Add aspect to node.
     * Add aspect to node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body aspect name, e.g. ccm:lomreplication (required)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry addAspects(String repository, String node, List<String> body) throws ApiException {
        ApiResponse<NodeEntry> resp = addAspectsWithHttpInfo(repository, node, body);
        return resp.getData();
    }

    /**
     * Add aspect to node.
     * Add aspect to node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body aspect name, e.g. ccm:lomreplication (required)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> addAspectsWithHttpInfo(String repository, String node, List<String> body) throws ApiException {
        com.squareup.okhttp.Call call = addAspectsValidateBeforeCall(repository, node, body, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add aspect to node. (asynchronously)
     * Add aspect to node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body aspect name, e.g. ccm:lomreplication (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addAspectsAsync(String repository, String node, List<String> body, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addAspectsValidateBeforeCall(repository, node, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addWorkflowHistory
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body The history entry to put (editor and time can be null and will be filled automatically) (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call addWorkflowHistoryCall(String repository, String node, WorkflowHistory body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/workflow"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call addWorkflowHistoryValidateBeforeCall(String repository, String node, WorkflowHistory body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling addWorkflowHistory(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling addWorkflowHistory(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling addWorkflowHistory(Async)");
        }
        

        com.squareup.okhttp.Call call = addWorkflowHistoryCall(repository, node, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Add workflow.
     * Add workflow entry to node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body The history entry to put (editor and time can be null and will be filled automatically) (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void addWorkflowHistory(String repository, String node, WorkflowHistory body) throws ApiException {
        addWorkflowHistoryWithHttpInfo(repository, node, body);
    }

    /**
     * Add workflow.
     * Add workflow entry to node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body The history entry to put (editor and time can be null and will be filled automatically) (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> addWorkflowHistoryWithHttpInfo(String repository, String node, WorkflowHistory body) throws ApiException {
        com.squareup.okhttp.Call call = addWorkflowHistoryValidateBeforeCall(repository, node, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Add workflow. (asynchronously)
     * Add workflow entry to node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body The history entry to put (editor and time can be null and will be filled automatically) (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call addWorkflowHistoryAsync(String repository, String node, WorkflowHistory body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = addWorkflowHistoryValidateBeforeCall(repository, node, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for changeContent
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param versionComment comment, leave empty &#x3D; no new version, otherwise new version is generated (optional)
     * @param file  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call changeContentCall(String repository, String node, String mimetype, String versionComment, File file, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/content"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (versionComment != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("versionComment", versionComment));
        if (mimetype != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("mimetype", mimetype));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (file != null)
        localVarFormParams.put("file", file);

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call changeContentValidateBeforeCall(String repository, String node, String mimetype, String versionComment, File file, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling changeContent(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling changeContent(Async)");
        }
        
        // verify the required parameter 'mimetype' is set
        if (mimetype == null) {
            throw new ApiException("Missing the required parameter 'mimetype' when calling changeContent(Async)");
        }
        

        com.squareup.okhttp.Call call = changeContentCall(repository, node, mimetype, versionComment, file, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Change content of node.
     * Change content of node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param versionComment comment, leave empty &#x3D; no new version, otherwise new version is generated (optional)
     * @param file  (optional)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry changeContent(String repository, String node, String mimetype, String versionComment, File file) throws ApiException {
        ApiResponse<NodeEntry> resp = changeContentWithHttpInfo(repository, node, mimetype, versionComment, file);
        return resp.getData();
    }

    /**
     * Change content of node.
     * Change content of node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param versionComment comment, leave empty &#x3D; no new version, otherwise new version is generated (optional)
     * @param file  (optional)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> changeContentWithHttpInfo(String repository, String node, String mimetype, String versionComment, File file) throws ApiException {
        com.squareup.okhttp.Call call = changeContentValidateBeforeCall(repository, node, mimetype, versionComment, file, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Change content of node. (asynchronously)
     * Change content of node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param versionComment comment, leave empty &#x3D; no new version, otherwise new version is generated (optional)
     * @param file  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call changeContentAsync(String repository, String node, String mimetype, String versionComment, File file, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = changeContentValidateBeforeCall(repository, node, mimetype, versionComment, file, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for changeContentAsText
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param body The content data to write (text) (required)
     * @param versionComment comment, leave empty &#x3D; no new version, otherwise new version is generated (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call changeContentAsTextCall(String repository, String node, String mimetype, String body, String versionComment, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/textContent"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (versionComment != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("versionComment", versionComment));
        if (mimetype != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("mimetype", mimetype));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call changeContentAsTextValidateBeforeCall(String repository, String node, String mimetype, String body, String versionComment, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling changeContentAsText(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling changeContentAsText(Async)");
        }
        
        // verify the required parameter 'mimetype' is set
        if (mimetype == null) {
            throw new ApiException("Missing the required parameter 'mimetype' when calling changeContentAsText(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling changeContentAsText(Async)");
        }
        

        com.squareup.okhttp.Call call = changeContentAsTextCall(repository, node, mimetype, body, versionComment, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Change content of node as text.
     * Change content of node as text.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param body The content data to write (text) (required)
     * @param versionComment comment, leave empty &#x3D; no new version, otherwise new version is generated (optional)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry changeContentAsText(String repository, String node, String mimetype, String body, String versionComment) throws ApiException {
        ApiResponse<NodeEntry> resp = changeContentAsTextWithHttpInfo(repository, node, mimetype, body, versionComment);
        return resp.getData();
    }

    /**
     * Change content of node as text.
     * Change content of node as text.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param body The content data to write (text) (required)
     * @param versionComment comment, leave empty &#x3D; no new version, otherwise new version is generated (optional)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> changeContentAsTextWithHttpInfo(String repository, String node, String mimetype, String body, String versionComment) throws ApiException {
        com.squareup.okhttp.Call call = changeContentAsTextValidateBeforeCall(repository, node, mimetype, body, versionComment, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Change content of node as text. (asynchronously)
     * Change content of node as text.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param body The content data to write (text) (required)
     * @param versionComment comment, leave empty &#x3D; no new version, otherwise new version is generated (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call changeContentAsTextAsync(String repository, String node, String mimetype, String body, String versionComment, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = changeContentAsTextValidateBeforeCall(repository, node, mimetype, body, versionComment, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for changeMetadata
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body properties (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call changeMetadataCall(String repository, String node, Object body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/metadata"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call changeMetadataValidateBeforeCall(String repository, String node, Object body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling changeMetadata(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling changeMetadata(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling changeMetadata(Async)");
        }
        

        com.squareup.okhttp.Call call = changeMetadataCall(repository, node, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Change metadata of node.
     * Change metadata of node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body properties (required)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry changeMetadata(String repository, String node, Object body) throws ApiException {
        ApiResponse<NodeEntry> resp = changeMetadataWithHttpInfo(repository, node, body);
        return resp.getData();
    }

    /**
     * Change metadata of node.
     * Change metadata of node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body properties (required)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> changeMetadataWithHttpInfo(String repository, String node, Object body) throws ApiException {
        com.squareup.okhttp.Call call = changeMetadataValidateBeforeCall(repository, node, body, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Change metadata of node. (asynchronously)
     * Change metadata of node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param body properties (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call changeMetadataAsync(String repository, String node, Object body, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = changeMetadataValidateBeforeCall(repository, node, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for changeMetadataWithVersioning
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param versionComment comment (required)
     * @param body properties (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call changeMetadataWithVersioningCall(String repository, String node, String versionComment, Object body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/metadata"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (versionComment != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("versionComment", versionComment));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call changeMetadataWithVersioningValidateBeforeCall(String repository, String node, String versionComment, Object body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling changeMetadataWithVersioning(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling changeMetadataWithVersioning(Async)");
        }
        
        // verify the required parameter 'versionComment' is set
        if (versionComment == null) {
            throw new ApiException("Missing the required parameter 'versionComment' when calling changeMetadataWithVersioning(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling changeMetadataWithVersioning(Async)");
        }
        

        com.squareup.okhttp.Call call = changeMetadataWithVersioningCall(repository, node, versionComment, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Change metadata of node (new version).
     * Change metadata of node (new version).
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param versionComment comment (required)
     * @param body properties (required)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry changeMetadataWithVersioning(String repository, String node, String versionComment, Object body) throws ApiException {
        ApiResponse<NodeEntry> resp = changeMetadataWithVersioningWithHttpInfo(repository, node, versionComment, body);
        return resp.getData();
    }

    /**
     * Change metadata of node (new version).
     * Change metadata of node (new version).
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param versionComment comment (required)
     * @param body properties (required)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> changeMetadataWithVersioningWithHttpInfo(String repository, String node, String versionComment, Object body) throws ApiException {
        com.squareup.okhttp.Call call = changeMetadataWithVersioningValidateBeforeCall(repository, node, versionComment, body, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Change metadata of node (new version). (asynchronously)
     * Change metadata of node (new version).
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param versionComment comment (required)
     * @param body properties (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call changeMetadataWithVersioningAsync(String repository, String node, String versionComment, Object body, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = changeMetadataWithVersioningValidateBeforeCall(repository, node, versionComment, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for changePreview
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param image  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call changePreviewCall(String repository, String node, String mimetype, File image, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/preview"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (mimetype != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("mimetype", mimetype));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (image != null)
        localVarFormParams.put("image", image);

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call changePreviewValidateBeforeCall(String repository, String node, String mimetype, File image, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling changePreview(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling changePreview(Async)");
        }
        
        // verify the required parameter 'mimetype' is set
        if (mimetype == null) {
            throw new ApiException("Missing the required parameter 'mimetype' when calling changePreview(Async)");
        }
        

        com.squareup.okhttp.Call call = changePreviewCall(repository, node, mimetype, image, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Change preview of node.
     * Change preview of node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param image  (optional)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry changePreview(String repository, String node, String mimetype, File image) throws ApiException {
        ApiResponse<NodeEntry> resp = changePreviewWithHttpInfo(repository, node, mimetype, image);
        return resp.getData();
    }

    /**
     * Change preview of node.
     * Change preview of node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param image  (optional)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> changePreviewWithHttpInfo(String repository, String node, String mimetype, File image) throws ApiException {
        com.squareup.okhttp.Call call = changePreviewValidateBeforeCall(repository, node, mimetype, image, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Change preview of node. (asynchronously)
     * Change preview of node.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param mimetype MIME-Type (required)
     * @param image  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call changePreviewAsync(String repository, String node, String mimetype, File image, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = changePreviewValidateBeforeCall(repository, node, mimetype, image, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for changeTemplateMetadata
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param enable Is the inherition currently enabled (required)
     * @param body properties (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call changeTemplateMetadataCall(String repository, String node, Boolean enable, Object body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/metadata/template"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (enable != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("enable", enable));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call changeTemplateMetadataValidateBeforeCall(String repository, String node, Boolean enable, Object body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling changeTemplateMetadata(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling changeTemplateMetadata(Async)");
        }
        
        // verify the required parameter 'enable' is set
        if (enable == null) {
            throw new ApiException("Missing the required parameter 'enable' when calling changeTemplateMetadata(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling changeTemplateMetadata(Async)");
        }
        

        com.squareup.okhttp.Call call = changeTemplateMetadataCall(repository, node, enable, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Set the metadata template for this folder.
     * All the given metadata will be inherited to child nodes.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param enable Is the inherition currently enabled (required)
     * @param body properties (required)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry changeTemplateMetadata(String repository, String node, Boolean enable, Object body) throws ApiException {
        ApiResponse<NodeEntry> resp = changeTemplateMetadataWithHttpInfo(repository, node, enable, body);
        return resp.getData();
    }

    /**
     * Set the metadata template for this folder.
     * All the given metadata will be inherited to child nodes.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param enable Is the inherition currently enabled (required)
     * @param body properties (required)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> changeTemplateMetadataWithHttpInfo(String repository, String node, Boolean enable, Object body) throws ApiException {
        com.squareup.okhttp.Call call = changeTemplateMetadataValidateBeforeCall(repository, node, enable, body, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Set the metadata template for this folder. (asynchronously)
     * All the given metadata will be inherited to child nodes.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param enable Is the inherition currently enabled (required)
     * @param body properties (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call changeTemplateMetadataAsync(String repository, String node, Boolean enable, Object body, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = changeTemplateMetadataValidateBeforeCall(repository, node, enable, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createChild
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node use -userhome- for userhome or -inbox- for inbox node (required)
     * @param type type of node (required)
     * @param body properties, example: {\&quot;{http://www.alfresco.org/model/content/1.0}name\&quot;: [\&quot;test\&quot;]} (required)
     * @param aspects aspects of node (optional)
     * @param renameIfExists rename if the same node name exists (optional, default to false)
     * @param versionComment comment, leave empty &#x3D; no inital version (optional)
     * @param assocType Association type, can be empty (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createChildCall(String repository, String node, String type, Object body, List<String> aspects, Boolean renameIfExists, String versionComment, String assocType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/children"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (aspects != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "aspects", aspects));
        if (renameIfExists != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("renameIfExists", renameIfExists));
        if (versionComment != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("versionComment", versionComment));
        if (assocType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("assocType", assocType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createChildValidateBeforeCall(String repository, String node, String type, Object body, List<String> aspects, Boolean renameIfExists, String versionComment, String assocType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling createChild(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling createChild(Async)");
        }
        
        // verify the required parameter 'type' is set
        if (type == null) {
            throw new ApiException("Missing the required parameter 'type' when calling createChild(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createChild(Async)");
        }
        

        com.squareup.okhttp.Call call = createChildCall(repository, node, type, body, aspects, renameIfExists, versionComment, assocType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a new child.
     * Create a new child.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node use -userhome- for userhome or -inbox- for inbox node (required)
     * @param type type of node (required)
     * @param body properties, example: {\&quot;{http://www.alfresco.org/model/content/1.0}name\&quot;: [\&quot;test\&quot;]} (required)
     * @param aspects aspects of node (optional)
     * @param renameIfExists rename if the same node name exists (optional, default to false)
     * @param versionComment comment, leave empty &#x3D; no inital version (optional)
     * @param assocType Association type, can be empty (optional)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry createChild(String repository, String node, String type, Object body, List<String> aspects, Boolean renameIfExists, String versionComment, String assocType) throws ApiException {
        ApiResponse<NodeEntry> resp = createChildWithHttpInfo(repository, node, type, body, aspects, renameIfExists, versionComment, assocType);
        return resp.getData();
    }

    /**
     * Create a new child.
     * Create a new child.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node use -userhome- for userhome or -inbox- for inbox node (required)
     * @param type type of node (required)
     * @param body properties, example: {\&quot;{http://www.alfresco.org/model/content/1.0}name\&quot;: [\&quot;test\&quot;]} (required)
     * @param aspects aspects of node (optional)
     * @param renameIfExists rename if the same node name exists (optional, default to false)
     * @param versionComment comment, leave empty &#x3D; no inital version (optional)
     * @param assocType Association type, can be empty (optional)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> createChildWithHttpInfo(String repository, String node, String type, Object body, List<String> aspects, Boolean renameIfExists, String versionComment, String assocType) throws ApiException {
        com.squareup.okhttp.Call call = createChildValidateBeforeCall(repository, node, type, body, aspects, renameIfExists, versionComment, assocType, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a new child. (asynchronously)
     * Create a new child.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node use -userhome- for userhome or -inbox- for inbox node (required)
     * @param type type of node (required)
     * @param body properties, example: {\&quot;{http://www.alfresco.org/model/content/1.0}name\&quot;: [\&quot;test\&quot;]} (required)
     * @param aspects aspects of node (optional)
     * @param renameIfExists rename if the same node name exists (optional, default to false)
     * @param versionComment comment, leave empty &#x3D; no inital version (optional)
     * @param assocType Association type, can be empty (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createChildAsync(String repository, String node, String type, Object body, List<String> aspects, Boolean renameIfExists, String versionComment, String assocType, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createChildValidateBeforeCall(repository, node, type, body, aspects, renameIfExists, versionComment, assocType, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createChildByCopying
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @param withChildren flag for children (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createChildByCopyingCall(String repository, String node, String source, Boolean withChildren, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/children/_copy"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (source != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("source", source));
        if (withChildren != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("withChildren", withChildren));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createChildByCopyingValidateBeforeCall(String repository, String node, String source, Boolean withChildren, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling createChildByCopying(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling createChildByCopying(Async)");
        }
        
        // verify the required parameter 'source' is set
        if (source == null) {
            throw new ApiException("Missing the required parameter 'source' when calling createChildByCopying(Async)");
        }
        
        // verify the required parameter 'withChildren' is set
        if (withChildren == null) {
            throw new ApiException("Missing the required parameter 'withChildren' when calling createChildByCopying(Async)");
        }
        

        com.squareup.okhttp.Call call = createChildByCopyingCall(repository, node, source, withChildren, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a new child by copying.
     * Create a new child by copying.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @param withChildren flag for children (required)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry createChildByCopying(String repository, String node, String source, Boolean withChildren) throws ApiException {
        ApiResponse<NodeEntry> resp = createChildByCopyingWithHttpInfo(repository, node, source, withChildren);
        return resp.getData();
    }

    /**
     * Create a new child by copying.
     * Create a new child by copying.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @param withChildren flag for children (required)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> createChildByCopyingWithHttpInfo(String repository, String node, String source, Boolean withChildren) throws ApiException {
        com.squareup.okhttp.Call call = createChildByCopyingValidateBeforeCall(repository, node, source, withChildren, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a new child by copying. (asynchronously)
     * Create a new child by copying.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @param withChildren flag for children (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createChildByCopyingAsync(String repository, String node, String source, Boolean withChildren, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createChildByCopyingValidateBeforeCall(repository, node, source, withChildren, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createChildByMoving
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createChildByMovingCall(String repository, String node, String source, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/children/_move"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (source != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("source", source));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createChildByMovingValidateBeforeCall(String repository, String node, String source, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling createChildByMoving(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling createChildByMoving(Async)");
        }
        
        // verify the required parameter 'source' is set
        if (source == null) {
            throw new ApiException("Missing the required parameter 'source' when calling createChildByMoving(Async)");
        }
        

        com.squareup.okhttp.Call call = createChildByMovingCall(repository, node, source, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a new child by moving.
     * Create a new child by moving.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry createChildByMoving(String repository, String node, String source) throws ApiException {
        ApiResponse<NodeEntry> resp = createChildByMovingWithHttpInfo(repository, node, source);
        return resp.getData();
    }

    /**
     * Create a new child by moving.
     * Create a new child by moving.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> createChildByMovingWithHttpInfo(String repository, String node, String source) throws ApiException {
        com.squareup.okhttp.Call call = createChildByMovingValidateBeforeCall(repository, node, source, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a new child by moving. (asynchronously)
     * Create a new child by moving.
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createChildByMovingAsync(String repository, String node, String source, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createChildByMovingValidateBeforeCall(repository, node, source, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createForkOfNode
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @param withChildren flag for children (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createForkOfNodeCall(String repository, String node, String source, Boolean withChildren, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/children/_fork"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (source != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("source", source));
        if (withChildren != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("withChildren", withChildren));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createForkOfNodeValidateBeforeCall(String repository, String node, String source, Boolean withChildren, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'repository' is set
        if (repository == null) {
            throw new ApiException("Missing the required parameter 'repository' when calling createForkOfNode(Async)");
        }
        
        // verify the required parameter 'node' is set
        if (node == null) {
            throw new ApiException("Missing the required parameter 'node' when calling createForkOfNode(Async)");
        }
        
        // verify the required parameter 'source' is set
        if (source == null) {
            throw new ApiException("Missing the required parameter 'source' when calling createForkOfNode(Async)");
        }
        
        // verify the required parameter 'withChildren' is set
        if (withChildren == null) {
            throw new ApiException("Missing the required parameter 'withChildren' when calling createForkOfNode(Async)");
        }
        

        com.squareup.okhttp.Call call = createForkOfNodeCall(repository, node, source, withChildren, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a copy of a node by creating a forked version (variant).
     * 
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @param withChildren flag for children (required)
     * @return NodeEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeEntry createForkOfNode(String repository, String node, String source, Boolean withChildren) throws ApiException {
        ApiResponse<NodeEntry> resp = createForkOfNodeWithHttpInfo(repository, node, source, withChildren);
        return resp.getData();
    }

    /**
     * Create a copy of a node by creating a forked version (variant).
     * 
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @param withChildren flag for children (required)
     * @return ApiResponse&lt;NodeEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeEntry> createForkOfNodeWithHttpInfo(String repository, String node, String source, Boolean withChildren) throws ApiException {
        com.squareup.okhttp.Call call = createForkOfNodeValidateBeforeCall(repository, node, source, withChildren, null, null);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a copy of a node by creating a forked version (variant). (asynchronously)
     * 
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of parent node (required)
     * @param source ID of source node (required)
     * @param withChildren flag for children (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createForkOfNodeAsync(String repository, String node, String source, Boolean withChildren, final ApiCallback<NodeEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createForkOfNodeValidateBeforeCall(repository, node, source, withChildren, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createShare
     * @param repository ID of repository (or \&quot;-home-\&quot; for home repository) (required)
     * @param node ID of node (required)
     * @param expiryDate expiry date for this share, leave empty or -1 for unlimited (optional, default to -1)
     * @param password password for this share, use none to not use a password (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createShareCall(String repository, String node, Long expiryDate, String password, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/node/v1/nodes/{repository}/{node}/shares"
            .replaceAll("\\{" + "repository" + "\\}", apiClient.escapeString(repository.toString()))
            .replaceAll("\\{" + "node" + "\\}", apiClient.escapeString(node.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (expiryDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("expiryDate", expiryDate));
        if (password != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("password", password));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

[...]
